.naviContainer {
    background-color: rgb(110, 46, 31);
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.headerTopContainer {
    background-color: #76B5B0;

    /* color: rgb(56, 61, 90); */
    color: white;
    padding: 1% 0 2% 4%;
    /* margin: 0 4%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: .9rem;

}

.headerTop {


    text-shadow: rgb(110, 46, 31) 3px 3px 3px;
    /* margin-bottom: 1%; */
}


.naviList {
    list-style: none;
    display: flex;
    margin-bottom: 10px;
}

.headerIcons {
    display: flex;
    flex-basis: 70%;

    justify-content: space-around;
    font-size: 2rem;
    padding-right: 20px;
    padding-left: 20px;
}



li {
    flex-grow: 1;

}

a {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
}


@media (hover:hover) {
    a:hover {
        color: #F0DCD7
    }


}




li:nth-child(1) .active {
    color: white;
}

li:nth-child(2) .active {
    color: #45BBC5;
}

li:nth-child(3) .active {
    color: #FF9100;
}

@media (max-width:375px) {

    .headerTopContainer {
        font-size: 1rem;
        flex-wrap: wrap;

    }

    .headerTop {


        padding-bottom: 3%;

    }

    .headerIcons {
        flex-basis: 100%;
        font-size: 1.5rem;
    }

    .naviContainer {
        font-size: 1rem;
    }
}