* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  /* margin: 0 4%; */
}

.todoTasksHeader {
  padding: 10px 0;
  background-color: #F0DCD7;
  margin-top: 5px;
  color: #555;


}