* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

.appContainer {
  width: 80%;
  margin: 1% auto;
  font-family: 'Muli', sans-serif;

}

.App {
  text-align: center;
  /* margin: 0 4%; */
}

.todoTasksHeader {
  padding: 7px 0;
  background-color: #F0DCD7;
  margin-top: 10px;
  color: #555;


}

@media(max-width:767px) {
  .appContainer {
    width: 100%;
    margin: 0;
  }

}